.event-edit-form label {
  margin: 10px 0;
}
.date-time-form {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.date-time-form select:hover {
  cursor: pointer;
  background-color: var(--color-background);
}
.date-time-form-date,
.date-time-form-time {
  display: flex;
  align-items: baseline;
  max-width: 500px;
}
.date-time-form-date select,
.date-time-form-date input,
.date-time-form-time select,
.date-time-form-time input 
{
  border: none;
  background-color: #fff;
  text-align: center;
  padding: 10px 5px;
  appearance: none;
  box-sizing: border-box;
}

.date-time-form-date input,
.date-time-form-time input
{
  -moz-appearance: textfield;
}

.error {
  border: solid 1px var(--color-warning);
  border-radius: 3px;
  color: var(--color-warning);
  padding: 1em;
  background-color: var(--color-warning-bg);
}
.error-messages-list {
  padding-left: 0px;
}